.loan-guidance {
    width: 100%;
    height: 516px;
    padding: 40px 40px 40px 40px;
    gap: 40px;
    border-radius: 40px 40px 40px 40px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.1);
    box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.1);
}

.title-text {
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(26, 47, 69, 1);
    padding-bottom: 40px;
}

.block-step {
    width: 850px;
    height: 360px;
    gap: 24px;
    border-radius: 16px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .block-step .step {
        width: fit-content;
        height: 360px;
        flex: 1;
        gap: 8px;
        border-radius: 32px 32px 32px 32px;
        background: rgba(247, 248, 249, 1);
        display: grid;
    }

        .block-step .step .image {
            text-align: center;
        }

        .block-step .step .title {
            font-family: Quicksand;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.01em;
            text-align: center;
            color: rgba(26, 47, 69, 1);
            width: 100%;
            height: 24px;
            gap: 0px;
        }

        .block-step .step .description {
            font-family: Quicksand;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            text-align: center;
            color: rgba(103, 116, 131, 1);
            width: 100%;
            height: 44px;
            gap: 0px;
        }


@media screen and (max-width: 767px) {
    .loan-guidance {
        width: inherit;
        height: fit-content;
        padding: 24px;
        gap: 24px;
        border-radius: 40px 40px 40px 40px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.1);
        box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.1);
        /*position: relative;*/
    }

    .block-step {
        width: 100%;
        height: fit-content;
        gap: 24px;
        border-radius: 16px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        align-content: center;
    }

        .block-step .step {
            padding-top: 24px;
            padding-bottom: 42px;
            width: 100%;
        }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .loan-guidance {
        padding: 0;
    }

    .block-step {
        width: fit-content;
        height: fit-content;
        gap: 24px;
        border-radius: 16px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .title-text {
        padding-top: 40px;
    }
}
